{% extends 'donate/base.html' %}
{% load static %}
{% block content %}

		<!-- Content
		============================================= -->
		<section id="content">

			<div class="content-wrap">
				<style>
					#logo{height:80px}
					#logo img {
						display:inline;
					}
				</style>
				             					<!-- Logo
					============================================= -->
					<div class="center bottommargin">
					<div id="logo" class="center nobottomborder" style="float:none ">
						<a href="{% url 'donate:index' %}" class="standard-logo" data-dark-logo="{% static 'donate/images/logo.png' %}"><img src="{% static 'donate/images/logo.png' %}" alt="foundation Logo"></a>
						<a href="{% url 'donate:index' %}" class="retina-logo" data-dark-logo="{% static 'donate/images/logo.png' %}"><img src="{% static 'donate/images/logo.png' %}" alt="foundation Logo"></a>
					</div><!-- #logo end -->
				</div>

				<div class="container clearfix">

					<div class="tabs divcenter nobottommargin clearfix" id="tab-login-register" style="max-width: 500px;">
						{{message}}

						<div class="tab-container">

							<div class="tab-content clearfix" id="tab-login">
								<div class="card nobottommargin">
									<div class="card-body" style="padding: 40px;">
										<form id="login-form" name="login-form" class="nobottommargin" action="{% url 'donate:assessor-login' %}" method="post">

											
											<h3>Login to your Account</h3>
											{% csrf_token %}
											<div class="col_full">
												<label for="login-form-username">Username:</label>
												<input type="text" id="login-form-username" name="username" value="" class="form-control" />
											</div>

											<div class="col_full">
												<label for="login-form-password">Password:</label>
												<input type="password" id="login-form-password" name="password" value="" class="form-control" />
											</div>

											<div class="col_full nobottommargin">
												<button class="button button-3d nomargin" id="login-form-submit" name="login-form-submit" value="login">Login</button>
												<a href="#" class="fright">Forgot Password?</a>
											</div>

										</form>
									</div>
								</div>
							</div>

							

						</div>

					</div>

				</div>

			</div>

		</section><!-- #content end -->

{% endblock %}