{% extends 'donate/side.html' %}


{% block logo %}<h3>Student</h3>{% endblock %}
{% block nav %}
<li><a href="{% url 'donate:student' %}"><div>Profile</div></a></li>
<li><a href="{% url 'donate:funds' %}"><div>Funds</div></a></li>
<div class="divider divider-center"><a  data-scrollto="#header"><i class="icon-settings"></i></a></div>
<li><a href="{% url 'donate:student-logout' %}"><div>Logout</div></a></li>
{% endblock %}


{% block body %}


<!-- Content
		============================================= -->
		<section id="content">

			<div class="content-wrap bg-light">

				<div class="container">

					<div class="row justify-content-center">
						<div class="col-lg-10 col-md-10">
                        
                            <div class="right-margin list-group">
                                {% for fund in funds %}
                                <a href="{% url 'donate:spons-detail' fund.sponsor.id %}" class="leftmargin rightmargin list-group-item list-group-item-action flex-column align-items-end col-10">
                                    <div class="d-flex w-100 justify-content-between">
                                        <h4 class="mb-2">{{fund.sponsor.first_name}} {{fund.sponsor.last_name}}</h4>
                                        <small class="text-muted">{{fund.updated_at}}</small>
                                    </div>
                                    <p class="mb-1">${{fund.amount}}</p>
                                    <small class="text-muted">Campaign: </small>
                                      
                    
                                        {% if fund.student.crowdfund >= fund.student.fees %}
                                        <span class="badge badge-secondary float-right badge-success" style="margin-top: 3px;">Fundend</span>
                                        {% else %}
                                        <span class="badge badge-secondary float-right badge-warning" style="margin-top: 3px;">Ongoing</span>
                                        {% endif %}
                                        
                                </a>
                                {% endfor %}
                            </div>

						</div>
					</div>

				</div>

			</div>

		</section><!-- #content end -->





{% endblock %}