{% extends 'donate/base.html' %}

{% block side %}
side-header
{% endblock %}

{% block content %}
        
        <!-- Header
		============================================= -->
		<header id="header" class="no-sticky">

			<div id="header-wrap">

				<div class="container clearfix">

					<div id="primary-menu-trigger"><i class="icon-reorder"></i></div>
                    			<!-- Logo
					============================================= -->
					<div id="logo" class="nobottomborder">
					
                        <a href="{% url 'donate:index' %}"> {% block logo %}{% endblock %}</a>
                        
					</div><!-- #logo end -->

		

					<!-- Primary Navigation
					============================================= -->
					<nav id="primary-menu">

						<ul>
                            {% block nav %}
					
                            {% endblock %}				
				
						</ul>

					</nav><!-- #primary-menu end -->


				</div>

			</div>

		</header><!-- #header end -->
		{% block body %}
		{% endblock %}
 
    {% endblock %}
