{% extends 'donate/side.html' %}


{% block logo %}<h3>Sponsor</h3>{% endblock %}
{% block nav %}
<li><a href="{% url 'donate:sponsor' %}"><div>Profile</div></a></li>
<li><a href="{% url 'donate:donations' %}"><div>Donations</div></a></li>
<div class="divider divider-center"><a  data-scrollto="#header"><i class="icon-settings"></i></a></div>
<li><a href="{% url 'donate:sponsor-logout' %}"><div>Logout</div></a></li>
{% endblock %}

{% block body %}


<!-- Content
		============================================= -->
		<section id="content">

			<div class="content-wrap bg-light">

				<div class="container">

					<div class="row justify-content-center">
						<div class="col-lg-10 col-md-10">
							<div class="card shadow-sm">
								<div class="card-header">
									<h4 class="mb-0">Edit Profile</h4>
								</div>
								<div class="card-body">

									<div class="form-windget">

										<!--<div class="form-result"></div>

										<div class="form-process css3-spinner">
											<div class="css3-spinner-double-bounce1"></div>
											<div class="css3-spinner-double-bounce2"></div>
										</div>-->

										<form class="nobottommargin" id="" name="template-contactform" action method="post" enctype="multipart/form-data">
											
											{% csrf_token %}
											<div class="row">
                                                <div class=" col-md-12 col-lg-6 bottommargin-sm">
                                                    <label for="template-contactform-name">First Name<small class="text-danger">*</small></label>
                                                    <input type="text" id="template-contactform-name" name="first" value="{{sponsor.first_name}}" class="form-control required" placeholder="Enter your Full Name" />
                                                </div>
                                                <div class=" col-md-12 col-lg-6 bottommargin-sm">
                                                    <label for="template-contactform-name">Last Name<small class="text-danger">*</small></label>
                                                    <input type="text" id="template-contactform-name" name="last" value="{{sponsor.last_name}}" class="form-control required" placeholder="Enter your Full Name" />
                                                </div>

                                                <div class="col-lg-6 col-md-12 bottommargin-sm">
                           
                                                    <label  for="template-contactform-upload">Image:</label><br>
                                                    <div id="event_picture" class="kv-file-content">
														{% if student.image %}
														<img src="{{student.image.url}}" >
														{%endif%}
                                                    </div>
                                                    <input id="id_picture" type="file" name="image" value="" class="file file-loading" data-show-preview="true" >
                                                    
                                                       
                                                </div>

                                                <div class="form-group col-lg-6 col-md-12">
                                                    <label for="template-contactform-name">Date of Birth:<small class="text-danger">*</small></label>
                                                    <input type="date" id="template-contactform-name" name="dob" value="" class="form-control required"  />
                                                    </div>

                                                <div class=" col-md-12 col-lg-6 bottommargin-sm">
                                                    <label for="template-contactform-name">Phone:<small class="text-danger">*</small></label>
                                                    <input type="text" id="template-contactform-name" name="phone" value="{{sponsor.phone}}" class="form-control required" placeholder="Enter your Phone" />
                                                </div>
                                                <div class=" col-md-12 col-lg-6 bottommargin-sm">
                                                    <label for="template-contactform-name">Email:<small class="text-danger">*</small></label>
                                                    <input type="text" id="template-contactform-name" name="email" value="{{sponsor.email}}" class="form-control required" placeholder="Enter your Email" />
                                                </div>

												<div class=" col-md-12 col-lg-12 bottommargin-sm">
                                                    <label for="template-contactform-name">Address:<small class="text-danger">*</small></label>
                                                    <input type="text" id="template-contactform-name" name="address" value="{{sponsor.address}}" class="form-control required" placeholder="Enter Address" />
                                                </div>
	
                                                <div class=" col-md-12 col-lg-8 bottommargin-sm">
                                                    <label for="template-contactform-name">City:<small class="text-danger">*</small></label>
                                                    <input type="text" id="template-contactform-name" name="city" value="{{sponsor.city}}" class="form-control required" placeholder="Enter City" />
                                                </div>

												<div class=" col-md-12 col-lg-4 bottommargin-sm">
                                                    <label for="template-contactform-name">Country:<small class="text-danger">*</small></label>
                                                    <input type="text" id="template-contactform-name" name="name" value="{{sponsor.country}}" class="form-control required" placeholder="Enter Country" />
                                                </div>
												
	
												<div class="col-12 hidden">
													<input type="text" id="template-contactform-botcheck" name="template-contactform-botcheck" value="" />
												</div>
												<div class="col-12">
													<button type="submit" name="template-contactform-submit" class="btn btn-secondary btn-block btn-lg">Update</button>
												</div>

												<input type="hidden" name="prefix" value="template-contactform-">

											</div>

										</form>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>

			</div>

		</section><!-- #content end -->





{% endblock %}
{% block age%}53{% endblock%}