{% extends 'donate/side.html' %}


{% block logo %}<h3>Student</h3>{% endblock %}
{% block nav %}
<li><a href="{% url 'donate:student' %}"><div>Profile</div></a></li>
<li><a href="{% url 'donate:funds' %}"><div>Funds</div></a></li>
<div class="divider divider-center"><a  data-scrollto="#header"><i class="icon-settings"></i></a></div>
<li><a href="{% url 'donate:student-logout' %}"><div>Logout</div></a></li>
{% endblock %}

{% block body %}


<!-- Content
		============================================= -->
		<section id="content">

			<div class="content-wrap bg-light">

				<div class="container">

					<div class="row justify-content-center">
						<div class="col-lg-10 col-md-10">
							<div class="card shadow-sm">
								<div class="card-header">
									<h4 class="mb-0">Edit Profile</h4>
								</div>
								<div class="card-body">

									<div class="form-windget">

										<!--<div class="form-result"></div>

										<div class="form-process css3-spinner">
											<div class="css3-spinner-double-bounce1"></div>
											<div class="css3-spinner-double-bounce2"></div>
										</div>-->

										<form class="nobottommargin" id="" name="template-contactform" action method="post" enctype="multipart/form-data">
											
											{% csrf_token %}
											<div class="row">
                                                <div class=" col-md-12 col-lg-6 bottommargin-sm">
                                                    <label for="template-contactform-name">First Name<small class="text-danger">*</small></label>
                                                    <input type="text" id="template-contactform-name" name="name" value="{{company.name}}" class="form-control required" placeholder="Enter your Full Name" />
                                                </div>
                                                <div class=" col-md-12 col-lg-6 bottommargin-sm">
                                                    <label for="template-contactform-name">Last Name<small class="text-danger">*</small></label>
                                                    <input type="text" id="template-contactform-name" name="name" value="{{company.name}}" class="form-control required" placeholder="Enter your Full Name" />
                                                </div>

                                                <div class="col-lg-6 col-md-12 bottommargin-sm">
                           
                                                    <label  for="template-contactform-upload">Image:</label><br>
                                                    <div id="event_picture" class="kv-file-content">
                                                    <img src="{{ company.logo.url  }}" >
                                                    </div>
                                                    <input id="id_picture" type="file" name="logo" value="" class="file file-loading" data-show-preview="true" >
                                                    
                                                       
                                                </div>

                                                <div class="form-group col-lg-6 col-md-12">
                                                    <label for="template-contactform-name">Date of Birth:<small class="text-danger">*</small></label>
                                                    <input type="date" id="template-contactform-name" name="start" value="" class="form-control required"  />
                                                    </div>

                                                <div class=" col-md-12 col-lg-6 bottommargin-sm">
                                                    <label for="template-contactform-name">Phone:<small class="text-danger">*</small></label>
                                                    <input type="text" id="template-contactform-name" name="name" value="{{company.name}}" class="form-control required" placeholder="Enter your Phone" />
                                                </div>
                                                <div class=" col-md-12 col-lg-6 bottommargin-sm">
                                                    <label for="template-contactform-name">Email:<small class="text-danger">*</small></label>
                                                    <input type="text" id="template-contactform-name" name="name" value="{{company.name}}" class="form-control required" placeholder="Enter your Email" />
                                                </div>

												<div class=" col-md-12 col-lg-12 bottommargin-sm">
                                                    <label for="template-contactform-name">Address:<small class="text-danger">*</small></label>
                                                    <input type="text" id="template-contactform-name" name="name" value="{{company.name}}" class="form-control required" placeholder="Enter Address" />
                                                </div>
	
                                                <div class=" col-md-12 col-lg-8 bottommargin-sm">
                                                    <label for="template-contactform-name">City:<small class="text-danger">*</small></label>
                                                    <input type="text" id="template-contactform-name" name="name" value="{{company.name}}" class="form-control required" placeholder="Enter City" />
                                                </div>

												<div class=" col-md-12 col-lg-4 bottommargin-sm">
                                                    <label for="template-contactform-name">Country:<small class="text-danger">*</small></label>
                                                    <input type="text" id="template-contactform-name" name="name" value="{{company.name}}" class="form-control required" placeholder="Enter Country" />
                                                </div>
												
												<div class="col-md-12 col-lg-6 bottommargin-sm">
													<label>Gender:</label>
													<div class="form-check">
														<input class="form-check-input" type="radio" name="gender" id="template-contactform-radio-label2" value="M" {% if claims.gender == 'M' %}checked {% endif %}>
														<label class="form-check-label" for="template-contactform-radio-label2">Male</label>
													</div>
													<div class="form-check">
														<input class="form-check-input" type="radio" name="gender" id="template-contactform-radio-label3" value="F" {% if claims.gender == 'F' %}checked {% endif %}>
														<label class="form-check-label" for="template-contactform-radio-label3">Female</label>
													</div>
												</div>	
												<div class="col-lg-6 col-md-12 bottommargin-sm">
													<label for="template-contactform-default-select">Residence Area:</label>
													<select id="template-contactform-default-select" value='{{claims.description}}' name="description" class="form-control" required>
														<option value="" disabled >Select Type</option>
														<option value="U" {% if claims.description == 'GYNAECOLOGY/OBSTETRICS' %}selected {% endif %}>Urban</option>
														<option value="R"  {% if claims.description == 'PAEDIATRICIANS' %}selected {% endif %} >Rural</option>
													</select>
												</div>
												<div class="col-lg-6 col-md-6 bottommargin-sm">
													<label for="template-contactform-age" class="mb-3 clearfix">Fees paying Average:</label>
													<input id="template-contactform-age" value='40'name="age" class="range_01 input-range-slider" required/>
												</div>
												<div class="col-lg-6 col-md-6 bottommargin-sm">
													<label for="template-contactform-age" class="mb-3 clearfix">Dining Hall Purchase Average:</label>
													<input id="template-contactform-age" value='40'name="age" class="range_01 input-range-slider" required/>
												</div>

												<div class="col-lg-6 col-md-6 bottommargin-sm">
													<label for="template-contactform-age" class="mb-3 clearfix">Health Average:</label>
													<input id="template-contactform-age" value='40'name="age" class="range_01 input-range-slider" required/>
												</div>

												<div class="col-lg-6 col-md-12 bottommargin-sm">
													<label for="template-contactform-budget">Fees:</label>
													<div class="input-group">
													<div class="input-group-prepend">
														<span class="input-group-text">$</span>
													</div>


													<input id="template-contactform-budget" name="claim" value='{{claims.claimed}}' type="number" class="form-control" aria-label="Amount (to the nearest dollar)" placeholder="Enter Claimed Amount" required>
														<div class="input-group-append">
															<span class="input-group-text">.00</span>
														</div>
													</div>
												</div>

												<div class="form-group col-lg-6 col-md-12">
                                                    <label for="template-contactform-name">Fees Due Date:<small class="text-danger">*</small></label>
                                                    <input type="date" id="template-contactform-name" name="start" value="" class="form-control required"  />
                                                    </div>
											
											

												<div class=" col-md-12 col-lg-12 bottommargin-sm">
                                                    <label for="template-contactform-name">Institute Name:<small class="text-danger">*</small></label>
                                                    <input type="text" id="template-contactform-name" name="name" value="{{company.name}}" class="form-control required" placeholder="Enter your Full Name" />
                                                </div>

												<div class=" col-md-12 col-lg-12 bottommargin-sm">
                                                    <label for="template-contactform-name">Program Enrolled:<small class="text-danger">*</small></label>
                                                    <input type="text" id="template-contactform-name" name="name" value="{{company.name}}" class="form-control required" placeholder="Enter your Full Name" />
                                                </div>
												<div class="col-md-12 bottommargin-sm">
													<label for="exampleFormControlTextarea1">About Student</label>
													<textarea class="form-control" name="about" id="exampleFormControlTextarea1" rows="3">{{company.about}}</textarea>
												</div>
												<div class="col-12 hidden">
													<input type="text" id="template-contactform-botcheck" name="template-contactform-botcheck" value="" />
												</div>
												<div class="col-12">
													<button type="submit" name="template-contactform-submit" class="btn btn-secondary btn-block btn-lg">Update</button>
												</div>

												<input type="hidden" name="prefix" value="template-contactform-">

											</div>

										</form>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>

			</div>

		</section><!-- #content end -->





{% endblock %}
{% block age%}53{% endblock%}